<a class="vote-link is-boat" href=<%="/boats/#{@boat.id}/boatvotes/boat"%>><button class="<%= @isboat %>">That's a boat!!!</button></a>
<a class="vote-link maybe-boat" href=<%="/boats/#{@boat.id}/boatvotes/maybeboat"%>><button class="<%= @maybeboat %>">I'm not sure if this is a boat</button></a>
<a class="vote-link not-boat" href=<%="/boats/#{@boat.id}/boatvotes/notboat"%>><button class="<%= @notboat %>">I don't think that's a boat</button></a>